{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid mb-2">

        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-5">
                    <i class="fa-solid fa-basket-shopping">&nbsp;</i>Your Basket
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if basket_items %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Video</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for item in basket_items %}
                            <tr>
                                <td>
                                    <p class=""><strong>{{ item.video.title }}&nbsp;{{ item.video.format }}</strong></p>
                                    <p class="text-muted">SKU: {{ item.video.sku|upper }}</p>
                                </td>

                                <td>
                                    <img class="image-container" src="#" alt="...">
                                </td>

                                <td>
                                    <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}" id="update-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                
                                                <input class="qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="0" max="50"
                                                    >
                                               
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link"><small>Update</small></a>
                                    <a class="remove-link" href="{% url 'remove_from_basket' item.item_id %}"><small>Remove</small></a>
                                </td>

                                <td>
                                    <p>${{ item.video.price }}</p>
                                </td>

                                <td>
                                    <p>${{ item.sub_total }}</p>
                                </td>
                                
                            </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="5">
                                    <h6><strong>Basket: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'videos' %}" class="btn btn-secondary">
                                        Continue Shopping
                                    </a>
                                    <a href="" class="btn btn-success">
                                        <i class="fas fa-lock me-2"></i>&nbsp;Checkout
                                    </a>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'videos' %}" class="btn btn-secondary">
                        Continue Shopping
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}