body {
    min-height: 100vh;
    color: #041348;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

header {
    color:#ffffff;
    background-color: #041348;
    background-image: linear-gradient(to bottom, #000000, #041348);
}

footer {
    color: #ffffff;
    background-color: #041348;
    background-image: linear-gradient(to top, #000000, #041348);
}

a:hover {
    color:#dc3545;
}

.btn:hover {
    border-color:#dc3545;
    background-color:#dc3545;
}

.btn-drop {
    color:#ffffff;
    border: none;
}

.btn-drop:hover, .btn-drop:focus, .btn-drop:active {
    color:#dc3545;
    background-color: transparent;
    border: none !important;
}

.orbitron-title {
    font-weight: 900;
}

#nav-main {
    height: 54px;
}

.content-block {
    margin-top: 54px;
    height: 100%;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #dc3545 !important;
    outline: none;
}

.nav-link-white {
    color: #ffffff;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .dropdown-item:hover, .nav-link-white:hover {
    color: #dc3545;
    outline: none;
    box-shadow: none;
    background-color: none;
}

.wishlist-link {
    color:#dc3545;
}

.fa-star {
    color: #ffc107;
}

.rating-link {
    color: #ffc107;
}

.image-container {
    background-color: grey;
}

.video-card, .video-card-row {
    height:100%;
}

.qty_input {
    width: 75px !important;
}

@media (min-width: 1200px) {
    .orbitron-title {
        font-size: 2.25rem;;
    }

    #nav-main {
        height: 100px;
    }
    #nav-add {
        height: 52px;
    }

    .content-block {
        margin-top: 152px;
    }
}