<footer class="mt-auto">
<hr>
    <div class="container">

        <div class="row mt-2">

            <div class="col-12 col-lg-6 text-center mb-5">

                <h5>Connect with us</h5>
                <p class="mb-4">Join the conversation on our social media pages.</p>

                <a class="btn btn-success" aria-current="page" href="https://github.com/0davidog" target="_blank" rel="noopener" aria-label="Check out my work on Github (opens in new tab)">
                    <i class="fa-brands fa-facebook"></i>&nbsp;Facebook
                </a>
    
                <a class="btn btn-success" aria-current="page" href="https://github.com/0davidog" target="_blank" rel="noopener" aria-label="Check out my work on Github (opens in new tab)">
                    <i class="fa-brands fa-github"></i>&nbsp;Github
                </a>

          
                
            </div>

            <div class="col-12 col-lg-6 text-center mb-5">

                <h5>Sign up to our newsletter</h5>
                <p class="mb-4">Sign up for news of new releases and exclusive offers.</p>

                {% include 'includes/mailchimp_form.html' %}

                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mailchimpModal">
                    <i class="fa-regular fa-envelope"></i>&nbsp;Sign me up
                  </button>

                 
            
            </div>
            <hr>
        </div>
    </div>



</footer>

