{% if messages %}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-info"></i>
        {% for message in messages %}
        {{ message | safe }}
        {% endfor%}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% else %}
    <div class="alert alert-dark text-center alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-info"></i>
        {% if user.is_authenticated %}
        &nbsp;Welcome, <a href="#" class="alert-link">{{ user }}</a>. You are logged in.
        {% else %}
        &nbsp;Welcome, log in to use features.
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}