<div class="container-fluid mb-5">

    <div class="row">
        <div class="col"><h2>User Reviews ({{ review_count }})</h2><hr></div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">Ratings</h3>
                    <hr>

                    <p class="card-text" id=>
                        <span class="star-rating" data-rating="1"></span>&nbsp;<span>({{ one_star_ratings }})</span><br>
                        <span class="star-rating" data-rating="2"></span>&nbsp;<span>({{ two_star_ratings }})</span><br>
                        <span class="star-rating" data-rating="3"></span>&nbsp;<span>({{ three_star_ratings }})</span><br>
                        <span class="star-rating" data-rating="4"></span>&nbsp;<span>({{ four_star_ratings }})</span><br>
                        <span class="star-rating" data-rating="5"></span>&nbsp;<span>({{ five_star_ratings }})</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">

        {% if user_reviews %}
        {% for review in user_reviews %}
        
        <div class="col">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ review.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ review.author }}</h6>
              <span class="star-rating" data-rating="{{ review_rating.rating }}"></span>&nbsp;<span>({{ review_rating.rating }})</span>
              <hr>
              <p class="card-text">"{{ review.content }}"</p>
              <hr>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col"><h2>No Reviews</h2></div>
        {% endif %}
    </div>
</div>