<!doctype html>

<html lang="en">

<head></head>

    <body>
        <h4>Hello, {{ order.name }}!</h4>
        <h5>This is a confirmation of your order at VideoDrome. Your order information is below:</h5>
        <br>
        Order Number: {{ order.order_number }}<br>
        Order Date: {{ order.date }}<br>
        <br>
        Order Total: ${{ order.order_total }}<br>
        Delivery: ${{ order.delivery_cost }}<br>
        Grand Total: ${{ order.grand_total }}<br>
        <br>
        Your order will be shipped to {{ order.street_address1 }} in {{ order.town_or_city }}, {{ order.country }}.<br>
        <br>
        We've got your phone number on file as {{ order.phone }}.<br>
        <br>
        If you have any questions, feel free to contact us at {{ contact_email }}.<br>
        <br>
        Thank you for your order!<br>
        <br>
        Sincerely,<br>
        <br>
        <a href="https://videodrome-ff881eaa1b51.herokuapp.com/">VideoDrome</a>
    </body>

</html>