{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="container-fluid">

        <div class="row" id="index">
            <div class="col">
                <div class="p-4">
                    <h2>
                        Welcome, 
                        <br class="d-block d-lg-none"><small>to</small> <span class="orbitron-title">VideoDrome</span>
                    </h2>
                    <p>Have look through our stock of DVDs, Blu-Rays and 4k UHD videos.</p>
                    <a class="btn btn-success" href="{% url 'videos' %}">Browse the collection.</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}