{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

    <div class="row mb-4">

        <div class="col-12 col-xl-6">

            <div class="image-container mb-5">
                {% if "placeholder" in video.cover.url %}
                <img src="{% static 'images/videodrome.webp' %}" class="logo-img" alt="Videodrome logo">
                {% else %}
                <img src="{{ video.cover.url }}" class="logo-img" alt="{{ video.title }} cover">
                {% endif %}
            </div>

        </div>

        <div class="col-12 col-xl-6 mb-5">
            <h2>{{ video.title }}</h2>
            <h3>{{ video.format }}</h3>
            <p>
                {% include 'includes/stars.html' %}
            </p>
            <p>Director: {{ video.director }}</p>
            <p>Release Year: {{ video.release_year }}</p>
            <p>Certificate: {{ video.certificate }}</p>
            <p>Condition: {{ video.condition }}</p>
            <p class="mt-5">{{ video.in_stock }}</p>
            <p>Price: £{{ video.price}}</p>
            <form class="form" action="{% url 'add_to_basket' video.id %}" method="POST">
                {% csrf_token %}
                <label for="quantity{{ video.id }}"><small>Quantity:</small></label><br>
                <input id="quantity{{ video.id }}" class="qty" type="number" name="quantity" value="1" min="1" max="99" data-video_id="{{ video.id }}">
                <button type="submit" class="btn btn-primary me-2 btn-basket" {% if not video.stocked %} disabled {% endif %}>
                    <i class="fa-solid fa-basket-shopping"></i>&nbsp;Add to Basket
                </button>
                {% if user.is_staff %}
                <a class="btn btn-link d-inline" href="{% url 'update_video' video.slug %}">
                    Admin: Edit
                </a>
                {% endif %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            
            <div class="mt-2">
                {% if user.is_authenticated %}
                {% if wishlisted %}
                <span><a href="{% url 'wishlist_video' video.slug %}" class="wishlist-link"><i class="fa-solid fa-heart me-2"></i>In Wishlist</a></span>
                {% else %}
                <span><a href="{% url 'wishlist_video' video.slug %}" class="wishlist-link"><i class="fa-regular fa-heart me-2"></i>Add to Wishlist</a></span>
                {% endif %}
                {% else %}
                <span class="wishlist-link"><i class="fa-regular fa-heart me-2"></i>Log in to add to wishlist</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4"> 

            <h4>Video Overview</h4>

            <p class="copy-font">
                {{ video.overview }}
                {% if video.overview_source %}
                <small><em><a href="{{ video.overview_source }}">From Wikipedia, the free encyclopedia.</a></em></small>
                {% endif %}
            </p>

            {% if video.trailer %}
            <a href="{{ video.trailer}}" class="btn btn-link wishlist-link mb-5 mt-2" rel="nofollower" target="_blank"><i class="fa-brands fa-youtube"></i>&nbsp;View Trailer on YouTube</a>

            {% endif %}

            <h5>More Information</h5>
            <details>
                <summary>View Details</summary>
                <div class="mt-5 mb-5 copy-font">
                    <p>
                        <strong>Number of disks:</strong> {{ video.discs }}

                    </p>
                    <p>
                        <strong>Languages:</strong>
                        {% if languages %}
                            {% for language in languages %}
                                {{ language }}
                            {% endfor %}
                        {% else %}
                        No information available.
                        {% endif %}
                    </p>
                    <p>
                        <strong>Subtitles:</strong>
                        {% if subtitles %}
                            {% for subtitle in subtitles %}
                                {{ subtitle }}
                            {% endfor %}    
                        {% else %}
                        No information available.
                        {% endif %}
                    </p>
                    <p>
                        <strong>Region:</strong>
                        {% if region %}
                            {% for value in region %}
                                {{ value }}
                            {% endfor %}    
                        {% else %}
                        No information available.
                        {% endif %}
                    </p>
                    <p>
                        <strong>Added:</strong> {{ video.added }}
                    </p>
                </div>
            </details>
        </div>
    </div>
    {% include 'includes/reviews.html' %}

</div>
<div class="invisible" id="user-rating">{{ user_rating.rating }}</div>
{% endblock %}

{% block extras %}
{{ block.super }}
<script src="{% static 'js/stars.js' %}"></script>
{% endblock %}