{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">

    <div class="row p-4 mb-2">
        
        <div class="d-none d-xl-block col">
            {% if not unsorted %}
            {{ current_sorting }}
            {% endif %}
        </div>
        
        <div class="col">
            {% if all_videos == True %}
            <h2 class="text-center">All Videos</h2>
            {% endif %}
            {% if genre_query %}
            <h2 class="text-center">{{ genre_query | title}}</h2>
            {% endif %}
            {% if format_query %}
            {% if format_query == "dvd" %}
            <h2 class="text-center">DVD</h2>
            {% elif format_query == "blu-ray" %}
            <h2 class="text-center">Blu-Ray</h2>
            {% elif format_query == "uhd" %}
            <h2 class="text-center">4K Ultra HD</h2>
            {% endif %}
            {% endif %}
        </div>
        <div class="col text-end">
            {% if genre_query %}
            <div class="dropdown">
                <button class="btn dropdown-toggle me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SORT BY
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=price&direction=asc">Price (low to high)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=price&direction=desc">Price (high to low)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=added&direction=desc">Added (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=added&direction=asc">Added (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=release_year&direction=desc">Year (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=release_year&direction=asc">Year (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?genre={{ genre_query }}&sort=title&direction=asc">Year (A to Z)</a></li>
                </ul>
            </div>
            {% elif format_query %}
            <div class="dropdown">
                <button class="btn dropdown-toggle me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SORT BY
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=price&direction=asc">Price (low to high)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=price&direction=desc">Price (high to low)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=added&direction=desc">Added (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=added&direction=asc">Added (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=release_year&direction=desc">Year (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=release_year&direction=asc">Year (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?format={{ format_query }}&sort=title&direction=asc">Title (A to Z)</a></li>
                </ul>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="btn dropdown-toggle me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SORT BY
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=price&direction=asc">Price (low to high)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=price&direction=desc">Price (high to low)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=added&direction=desc">Added (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=added&direction=asc">Added (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=release_year&direction=desc">Year (newest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=release_year&direction=asc">Year (oldest first)</a></li>
                  <li><a class="dropdown-item" href="{% url 'videos' %}?sort=title&direction=asc">Title (A to Z)</a></li>
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
        {% for video in videos %}
        <div class="col-md-6 col-xl-4 mb-5">
            <div class="card video-card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row g-0 video-card-row">
                    <div class="col-md-4 image-container">
                        {% if "placeholder" in video.cover.url %}
                        <img src="{% static 'images/videodrome.webp' %}" class="logo-img" alt="Videodrome logo">
                        {% else %}
                        <img src="{{ video.cover.url }}" class="logo-img" alt="{{ video.title }} cover">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="h5 card-title mb-4">
                                <a href="{% url 'video_detail' video.slug %}" class="video-link">{{ video.title }}<br>{{ video.format }}</a>
                            </h3>
                            <p class="card-text copy-font mb-4">{{ video.excerpt }}...</p>
                            <p>{{ video.in_stock }}<br>Price: £{{ video.price}}</p>
                            <form class="form" action="{% url 'add_to_basket' video.id %}" method="POST">
                                {% csrf_token %}
                                <label for="quantity{{ video.id }}"><small>Quantity:</small></label><br>
                                <input class="qty" type="number" name="quantity" value="1" min="1" max="99" id="quantity{{ video.id }}" data-video_id="{{ video.id }}">
                                <button type="submit" class="btn btn-primary me-2 btn-basket" {% if not video.stocked %} disabled {% endif %}>
                                    <i class="fa-solid fa-basket-shopping"></i>&nbsp;Add to Basket
                                </button>
                                {% if user.is_staff %}
                                <div class="text-danger mt-2"><small>
                                    <span>ADMIN:</span>
                                    <a class="btn btn-link m-1" href="{% url 'update_video' video.slug %}">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-link wishlist-link" data-bs-toggle="modal" data-bs-target="#deleteVideoModal{{ video.id }}">
                                        Delete
                                    </a></small>
                                </div>
                                {% endif %}
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteVideoModal{{ video.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Warning!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this video?<br>
                    This cannot be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a type="button" class="btn btn-danger" href="{% url 'delete_video' video.id %}">Delete</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}